section#bodySection {  
    width: 100%;
    background: linear-gradient(to bottom, #000 30%, #fff 0%);
    font-family: poppinsLight;
    .bodyTitle {
        width: 35%; 
        text-align: center;
        vertical-align: middle;
        margin: 50px auto;
        padding-top: 30px;
        color: #fff;
        h1 {
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        p {
            font-size: 0.8;
        }
    }
    .bodyDiv { 
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 80%; 
      .bodyCard {
        width: 100%;       
        padding: 8px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
            font-size: 0.8rem;
            margin: 10px;
        }
      }   
    }
    .body2Div { 
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        width: 80%; 
        .bodyTxt {
            width: 70%;
            max-width: 70%;
            min-width: 350px; 
            padding: 0 30px 0 15px; 
            h1 {
                text-transform: uppercase;
                font-size: 1.6rem;
            }
            p {
                font-size: 0.8;
            }     
        }
        .bodyImg {
            background-color: #000;            
            width: 30%;
            max-width: 30%;
            min-width: 350px;
            padding: 15px;
            img {
                margin: 0 auto;
            }
        }        
      }
      .cardBody {          
          background-color: rgba($color: #000000, $alpha: 0.6);
          width: 70%;
          .cardStyle {
            padding: 20px;
            background: url("../../images/computer.jpg");
            color: #fff;
            h5 {
                font-size: 1.6rem;
                text-transform: uppercase;
            }
            p {
                font-size: 0.9rem;
            }
          }
      }
    
    
  }

  @media screen and (max-width: 605px) {
    section#bodySection {  
        width: 100%;
        background: linear-gradient(to bottom, #000 10%, #fff 0%);
        .bodyTitle {
            width: 80%;
        }
    }
  }