@font-face {
    font-family: poppins;
    src: url("../../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppinsLight;
    src: url("../../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: baloo;
    src: url("../../fonts/Baloo2-Regular.ttf");
}

@font-face {
    font-family: Niconne;
    src: url("../../fonts/Niconne-Regular.ttf");
}

@font-face {
    font-family: Onciale;
    src: url("../../fonts/Onciale.ttf");
}

