* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;    
}

header, body {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;    
    width: 100%;    
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #303030 !important;    
    
}

.btn-primary:hover {
    background-color: #383838 !important;
}