section#headerSection {  
  width: 100%;
  .headerDiv { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;  
    margin-top: 30px;
    font-family: poppinsLight;  
    .headImg {
      width: 30%;
      max-width: 350px;
      min-width: 350px;
      padding: 8px;
    }
    .headTxt {
      width: 60%;
      max-width: 650px;
      min-width: 350px;
      padding: 8px;
      margin: 0;
      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 0.8rem;
      }
      
    }
  }
  
}